.container .item {
  cursor: pointer;
}

.done {
  text-decoration: line-through;
  cursor: pointer;
}

.delete {
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.item {
  display: flex;
  max-width: 200px;
  gap: 20px;
  justify-content: space-between;
}

li {
  list-style: '&@&';
  text-indent: 10px;
}